body {
    background-color: #ddffdd;
}

.header-menu {
    background-color: #4edc91;
    border: 1px solid #47be80;
    border-left-width: 10px;
    border-radius: 8px;
    margin: 0;
}

.header-menu li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
}

.header-menu > li > a {
    font-size: 20px;
    text-decoration: none;
}

.header-menu > li > a:link {
    color: #FFFFFF;
}

.header-menu > li > a:visited {
    color: #FFFFFF;
}

.header-menu > li > a:hover {
    color: #cefc61;
}

.calculator-form-control {
    display: inline-block;
    padding-left: 10px;
}

.calculator-form-submit {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #47be80;
    border: 1px solid #4edc91;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ddffdd;
}
