body {
    background-color: #bbffbb;
}

.header-menu {
    background-color: #2ecc71;
    border: 1px solid #27ae60;
    border-left-width: 10px;
    border-radius: 12px;
    margin: 0;
}

.header-menu li {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
}

.header-menu > li > a {
    font-size: 20px;
    text-decoration: none;
}

.header-menu > li > a:link {
    color: #FFFFFF;
}

.header-menu > li > a:visited {
    color: #FFFFFF;
}

.header-menu > li > a:hover {
    color: #cefc61;
}
